#particles-js {
  background: #1a222c;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 0;
}
#particles-js .particles-js-canvas-el {
  width: 100% !important;
  height: 100vh !important;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}


#main{
  color: white;
}

#intro{
  position:fixed;
  left: 8%;
  top: 28%;
  padding: 0 0px;
  width: 100vw;
  color: white;
  font-size: 3vw;
  font-family: 'Dancing Script';
}

#in {
  font-size: 3vw;
}

#sname {
  font-size: 5vw;
}


#link {
 float:right;
 padding-right: 25%;
}
