#intro{
    position:absolute;
    left: 3%;
    top: 25%;
    padding: 0 20px;
    width: 100vw;
    color: beige;
    font-size: 3vw;
}

#particles-js{
    width: 100vw;
    height:100vw;
    background-color:#00100d;
}
#intro h1{
  padding-left: 0%;
  margin-top: 10px;  
  letter-spacing: 5px;
  font-size: 5vw;
  font-family: "sofia";
  text-transform: uppercase;
  font-weight: bold;
}

#link{
  right: 3%;
}