#intro{
    position:fixed;
    left: 3%;
    top: 50%;
    padding: 0 0px;
    width: 100vw;
    color: white;
    font-size: 3vw;
}

#particles-js {
  background: #1a222c;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#particles-js .particles-js-canvas-el {
  width: 100% !important;
  height: 100vh !important;
}


#intro h1{
  padding-left: 0%;
  margin-top: 10px;  
  letter-spacing: 5px;
  font-size: 5vw;
  font-family: "sofia";
  text-transform: uppercase;
  font-weight: bold;
}

span#link {
  right: 0%;
  left: auto;
  width: 100vw;
  color: white;
  font-size: 3vw;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}